<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/sidebar.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .admin-content .card {
            background: linear-gradient(to right, #007bff 50%, #fff 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            transition: all 0.5s ease-out;
        }

        .admin-content .card:hover {
            background-position: left bottom;
        }

        .admin-content .card h2 {
            margin-top: 5px;
        }

        @media screen and (max-width: 854px) {
            .admin-content .card h2 {
                font-size: 14px;
            }
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table,
        th,
        td {
            border: 1px solid #ddd;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #303956;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .admin-products button {
            background-color: #e01a0c;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        .back-button {
            background-color: #007bff;
            color: white;
            padding: 10px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="dashboard">
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn text-white" onclick="closeNav()">×</a>
                <img class="bg-[#5567FF] p-1 h-[70px] mx-auto" src=" /images/sidebar-image.svg" alt="" />
                <div class="sidebar-links flex flex-col mt-8 gap-6 items-center text-white text-[20px]">
                    <a href="/dashboard"
                        class="transition duration-200 ease-in hover:scale-110 hover:font-bold">Dashboard</a>
                    <a href="/createCourse"
                        class="transition duration-200 ease-in hover:scale-110 hover:font-bold">Create Course</a>
                    <a href="/manageCourse"
                        class="transition duration-200 ease-in hover:scale-110 hover:font-bold">Manage Courses</a>
                    <a href="/createEvent"
                        class="transition duration-200 ease-in hover:scale-110 hover:font-bold">Create Event</a>
                    <a href="/manageEvent"
                        class="transition duration-200 ease-in hover:scale-110 hover:font-bold">Manage Events</a>
                    <a href="/logout" class="transition duration-200 ease-in hover:scale-110 hover:font-bold">Logout</a>
                </div>
            </div>
            <div id="right-dashboard">
                <div class="nav flex items-center justify-between w-full py-4 px-6 border-b-2 border-gray-200">
                    <div class="left flex items-center gap-3">
                        <img class="h-[40px]" src="/images/tcps logo.jpeg" alt="" />
                        <h1 class="font-semibold">TCPS Admin Panel</h1>
                    </div>
                    <div class="right flex items-center gap-2">
                        <button class="openbtn" onclick="openNav()">☰</button>
                    </div>
                </div>

                <!-- Create Event  -->
                <div class="backBtn w-full px-6 py-3">
                    <button class="back-button" onclick="window.history.back()">
                        << Go Back </button>
                </div>
                <div class="admin-products" style="overflow-x: auto">
                    <h1 class="text-center mt-4 font-semibold text-2xl">
                        Manage Courses
                    </h1>
                    <% if (successMessage) { %>
                        <div class="flash-message success px-6 py-2" style="font-size: 18px; color: orangered; ">
                            <%= successMessage %>
                        </div>
                        <% } %>

                            <!-- Display error flash message -->
                            <% if (errorMessage) { %>
                                <div class="flash-message error px-6 py-3" style="font-size: 18px; color: orangered">
                                    <%= errorMessage %>
                                </div>
                                <% } %>
                                    <table border="1">
                                        <thead>
                                            <tr>
                                                <th>Course Name</th>
                                                <th>Course Description</th>
                                                <th>Course Duration</th>
                                                <th>Course Price</th>
                                                <th>Course Image</th>
                                                <th>Seats Available</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% courses.forEach(function(course){ %>
                                                <tr>
                                                    <td>
                                                        <%= course.courseName %>
                                                    </td>
                                                    <td>
                                                        <%= course.courseDescription %>
                                                    </td>
                                                    <td>
                                                        <%= course.courseDuration %>
                                                    </td>
                                                    <td>
                                                        <%= course.coursePrice %>
                                                    </td>
                                                    <td>
                                                        <img src="<%= course.courseImage %>" alt=""
                                                            style="width: 100px" />
                                                    </td>
                                                    <td>
                                                        <%= course.seatsAvailable %>
                                                    </td>
                                                    <td class="flex flex-col gap-2 justify-center items-center h-full">
                                                        <a href="/editCourse/<%= course._id %>"><button
                                                                style="background-color: yellowgreen">
                                                                Edit
                                                            </button></a>
                                                        <a
                                                            href="/deleteCourse/<%= course._id %>"><button>Delete</button></a>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                </div>

                <!-- Create Event  -->
            </div>
        </div>
    </div>

    <script src="/js/sidebar.js"></script>
</body>

</html>